*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    font-family: Verdana, sans-serif;
    color: #000;
    align-items: center;
    justify-content: center;
}
.container{
    width: 100vw;
}
.con-head{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.line2{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
h2{
    font-size: small;
    margin-top: 10px;
    padding: 3px;
}
.con-add{
    margin-top: 25px;
    width: 100vw;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.con-add button{
    background-color: aqua;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.add-popi,.add-pope {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: aliceblue;
    border-style: solid;
    border-color: aqua;
    padding: 30px;
    border-radius: 20px;
    position: fixed;
    margin-top: 190px;
    visibility: hidden;
    /*  position: absolute; */
}
/* dom */
.add-popi.show,.add-pope.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
form{
    display: flex;
    flex-direction: column;
}
input,select{
    margin-top: 10px;
    border: none;
    font-size: medium;
    padding: 5px;
}

.con-list, .data{
    padding: 30px;
    width: 100vw;
    display: flex ;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
}
.info{
    padding: 15px;
    border-radius: 20px;
    display: flex ;
    flex-direction: row;
    width: 100%;
    /* border-style: solid; */
    background-color: aquamarine;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.on-hover{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    /* border-style: solid; */
    background-color: aquamarine;
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 20px;
}
.data .on-hover button{
    background-color: rgb(255, 192, 201);
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    border:none;
    width: 100px;
}
@media only screen and (min-width: 600px) {
    h1{
        font-size: 40px;
        color: rgb(145, 45, 227); 
    } 
    
}
@media only screen and (min-width: 1022px) { 
    h1{
        font-size: 40px;
        color: rgb(145, 45, 227); 
    }  
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }